<script src="{{ "/js/jquery.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-386.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-transition.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-collapse.js" | relURL }}"></script>
<script>
    _386 = { 
        fastLoad:{{ .Site.Params.loadfastload }},
        onePass:{{ .Site.Params.loadonepass }}, 
        speedFactor:{{ .Site.Params.loadspeedfactor }}
    };

    // Free updated script to get the actual year !! no more document.write or stuff!!
    function ThisYear() {
        document.getElementById('thisyear').innerHTML = new Date().getFullYear();
    };
</script>
<script>
	$(window).load(function() {
		$(".se-pre-con").fadeOut("slow");;
	});
</script>
<script>
    var bleep = new Audio ();
    bleep.src = "music/donk.mp3";
</script>
<script>
    var bleep2 = new Audio ();
    bleep2.src = "music/nine-pm.mp3";
</script>