{{ define "main" }}

<div class="container">
  <div class="row-fluid navmargin">
    <div class="span2"></div>
    <div class="page-header span8">
      <a href="/">
        <img src="images/DONKWORLDLOGO.gif" style="width: 100%"
      /></a>
    </div>
    <div class="span2"></div>
  </div>
</div>

<div class="row-fluid">
  <div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <a href="/"
        ><img
          alt="HOME"
          src="images/websitelogo.png"
          width="100%"
          height="auto"
      /></a>
    </ul>
    <p></p>
    <ul class="nav nav-list bs-docs-sidenav">
      <h2>
        <a href="#" onmousedown="bleep.play()">DONK</a>
      </h2>
    </ul>
    <p></p>
    <ul class="nav nav-list bs-docs-sidenav">
      <h2>
        <a
          href="https://www.youtube.com/channel/UCyI4fQ7kwBUUTmAapqA_8Pg/videos"
          target="_blank"
          >ARCHIVES</a
        >
      </h2>
    </ul>
    <p></p>
    <ul class="nav nav-list bs-docs-sidenav">
      <a href="mailto:flashbackravecommittee@gmail.com"
        ><img alt="EMAIL" src="images/email.gif" width="100%" height="40px"
      /></a>
    </ul>
    <p></p>
    <ul class="nav nav-list bs-docs-sidenav">
      <h2>
        <a
          href="https://www.facebook.com/flashbackravecommittee"
          target="_blank"
          >FB</a
        >
      </h2>
    </ul>
    <p></p>
    <ul class="nav nav-list bs-docs-sidenav">
      <h2>
        <a href="https://www.instagram.com/donk.world" target="_blank">INSTA</a>
      </h2>
    </ul>
    <p></p>
    <ul class="nav nav-list bs-docs-sidenav">
      <h2>
        <a
          href="https://flashbackravecommittee-donkworld.bandcamp.com/releases"
          target="_blank"
          >BANDCAMP</a
        >
      </h2>
    </ul>
    <p></p>
    <ul class="nav nav-list bs-docs-sidenav">
      <a href="/"
        ><img
          alt="FLAMINYIN"
          src="images/flaminyin.png"
          width="100%"
          height="auto"
      /></a>
    </ul>
    <p></p>
  </div>

  <div class="span10 bs-docs-sidebar">
    <p></p>
    <p></p>
    <hr class="soften" />
    <p></p>
    <div class="m-link">
      <h2>
        <a href="https://www.twitch.tv/flashbackravecommittee" target="_blank"
          >CATCH US WHEN WE ARE LIVE HERE, OR ON TWITCH!!</a
        >
      </h2>
    </div>
    <p></p>
    <div class="span1"></div>
    <div class="twitch-content">
      <div id="twitch-embed"></div>
      <!-- Load the Twitch embed script -->
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
          top: "15%",
          width: "100%",
          height: 500,
          channel: "flashbackravecommittee",
        });
      </script>
    </div>
    <p></p>
    <div class="m-link">
      <h2>
        <a href="https://www.twitch.tv/flashbackravecommittee" target="_blank"
          >STREAMING LIVE ON THE THIRD SAT OF EVERY MONTH!!</a
        >
      </h2>
    </div>
    <p></p>

    <!-- WIP -->
    <!-- 
      <hr class="soften" />
      <div id="yt-archive">
      <p></p>
      <h2>
        <a
          href="https://www.youtube.com/channel/UCyI4fQ7kwBUUTmAapqA_8Pg/videos"
          target="_blank"
          >RECENT VIDS!</a
        >
      </h2>
      <p></p>
      <iframe
        width="100%"
        height="600"
        src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PLGZjDEyBKUnyY0iCWh5BZCUy5sqelUE_m"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div> -->
    <p></p>
  </div>
</div>

{{ end }}
